@charset "UTF-8";
/* @import url("fonts.css"); */


@media (min-width:380px) {
    .mobile-spacing {
        display: none;
    }
}
@media (min-width:1200px) {
    .only_mobile {
        display: none;
    }
    .only_pc {
        display:block;
    }
    .pc_flex {
        display: flex;
    }
    body {
        padding-top: 259px;
    }
    body::before {
        content: "";
        position: fixed;
        right:auto;
        top:-16%;
        left:0;
        width:33%;
        height: 100%;
        background-image: url(../img/contact__background-img-top-pc.svg);
        background-size:100% 100%;
        background-position: left top;
        background-repeat: no-repeat;
        pointer-events: none; 
    }

    .contact-wrap {
        margin:0 auto;
        max-width: 1200px;
    }
    .contact-wrap__info {
        padding:0;
    }
    .contact-wrap__info h1 {
        font-size: 9.375rem;
        line-height: 101px;
        margin-bottom: 59px;
    }
    .contact-wrap__info p {
        line-height: 21px;
        font-size: 1.875rem;
        width: 100%;
    }
    .contact-wrap__form {
        /* padding: 0 19.27% 171.92px 19.27%; */
        padding: 0;
        padding-bottom: 171.92px;
        margin-top: 129px;
    }
    
    .contact-wrap__form label {
        font-size: 1.875rem;
        line-height: 30px;
    }
    .contact-wrap__form input {
        font-size: 1.250rem;
        line-height: 20px;
    }
    .contact-wrap__form input::placeholder {
        font-size: 1.250rem;
        line-height: 20px;
    }
    .contact-wrap__name-number-wrap {
        flex-direction: row;
    }
    .contact-wrap__name-input-wrap{
        width: 49.48%;
    }
    .contact-wrap__number-input-wrap{
        width: 49.48%;
        margin-left: 1.04%;
    }

    #name {
        height:54px;
        margin-top: 15px;
        margin-bottom: 70px;
    }

    .contact-wrap__number-wrap {
        margin-top: 15px;
        height:54px;
    }
    .contact-wrap__number-wrap > input {
        height:54px;
    }
    #email {
        width: 49.48%;
        height: 54px;
    }
    #substance {
        padding:20px;
        height: 261px;

        font-size: 1.250rem;
        line-height: 20px;
    }
    #substance::placeholder {
        font-size: 1.250rem;
        line-height: 20px;
    }

    .contact-wrap__submit-agreement-wrap {
        display: flex;
        justify-content: space-between;
    }
    .contact_submit_button {
        padding:16px 63.46px 16px 63.46px;
    }
}