@charset "UTF-8";
@import url('/css/fonts.css');
@import url('/css/reset.css');

* {
  box-sizing: border-box;
  user-select: none;
  margin: 0;
  padding: 0;
}


#wrap {
  max-width: 3840px;
  min-width: 1920PX;
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;

  #header {
    z-index: 3;    // z-index를 설정해줘야 다른 섹션에 다 보임
    position: relative;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    // height: 300px;
    .header-container {
      max-width: 1920px;
      width: 100%;
      position: fixed;
      .logo {
        position: absolute;
        left: 102px;
        top: 60px;
        width: 285px;
        height: 66px;
        .logo-btn {
          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 281px;
            height: 65.12px;
          }
        }
      }
      .menu {
      position: absolute;
      top: 70px;
      right: 112px;
      // width: 103px;
      // height: 146px;
      line-height: 40px;
        li {
          font-size: 25px;
          font-weight: 700;
          color: #000;
          font-family: 'Outfit';
          font-style: normal;
          text-align: right;
          cursor: pointer;
        }
      } 
    }
  }

  #main {
    z-index: 2;
    position: relative;
    overflow: hidden;
    // max-width: 3840px;
    min-width: 1920px;
    width: 100%;
    height: 100%;     // 메인 전체 높이를 설정하지 않고 100%로 해줘야 스크롤이 생기지 않음
    margin: 0 auto;

    // 모든 섹션에 주는 style
    .section {
      // opacity: 0;
      visibility: hidden;
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      overflow-x: hidden;  // 슬라이드 가로스크롤 안보이게!
      overflow-y: hidden;
    //   -webkit-overflow-style: none;
    //   &::-webkit-scrollbar {
    //     display:none;
    // } 
      .container {
        position: absolute;
        top:0;
        left:0;
        width: 100%;
      }

    }
    .section1 {
      // position: absolute;
      // top:0;
      // left:0;
      // width: 100%;
      // height: 100%;
      .sec1_container {
        // position: relative;
        // width: 100%;  
        height: 1000px;    
        .sec1_content {
          position: absolute;
          left: 36px;
          top: 230px;
          width: 1853px;
          left: calc(50% - 1853px/2);
          height: 560px;   // 1080-(223.8+257)= 599.2     
          // animation: name(keyframes이름) duration(소요시간) timing-function(진행속도) delay(온로드후진행시간) iteration-count(재생횟수) direction(진행방향지정) fill-mode;
          .slide_text1 {
            position: absolute;
            top: 0;
            left: 478px;
            left: calc(50% - 957px/2 );
            width: 957px;
            height: 345px;  // img사이즈 높이가 345px
            text-align: center;
            color: #000;
            line-height: 360px;
            animation: slide1 2s ease-in-out forwards;  // 슬라이드 애니메이션1
            .we {
              position: absolute;
              left: 0;
              top: 0;
              font-family: 'Outfit';
              font-style: normal;
              font-size: 300px;
              font-weight: 100;
              line-height: 120%;
            }
            .sec1_img1 {
              position: absolute;
              left: 360px;
              top: 20px;  
              animation: sec1Img 2.5s ease-in infinite;
            }
            @keyframes sec1Img {
              0% {transform: translateY(0);}
              40% {transform: translateY(-20px);}
              70% {transform: translateY(-10px);}
              100% {transform: translateY(0);}
            }
            .are {
              position: absolute;
              right: 6%;   
              bottom: 20px;
              font-size: 200px;
              color: #000;
              font-style: italic;
              font-family: 'Cormorant Garamond';
              font-weight: 300;
              line-height: 240px;
              position: absolute;
            }
          }
          .slide_text2 {
            width: 1853px;
            height: 232px;
            position: absolute;
            left: 0;
            bottom: 20px;
            font-family: 'Outfit';
            font-style: normal;
            font-weight: 200;
            font-size: 250px;
            line-height: 100%;
            animation: slide2 2.3s ease-in-out;  // 슬라이드 애니메이션2
            .Br {
              color: #DBB27A;
              width: 1050px;
              text-decoration: underline;
              text-decoration-thickness: 0;   // 선 두께
              text-underline-position: under;
              letter-spacing: -0.5rem;
            }
            .sec1_img2 {
              position: absolute;
              left: 1060px;
              left: calc(50% - 123px/2 + 170px);
              top: 100px;
              width: 123.1px;
              height: 120.34px;
              animation: sec1Img2 4s ease-in-out infinite;
            }
            // 브랜디즘 스튜디오 사이의 별 애니메이션
            @keyframes sec1Img2 {
              0% {transform: rotate(0deg);}
              30% {transform: rotate(5deg);}
              50% {transform: rotate(0deg);}
              70% {transform: rotate(-6deg);}
              100% {transform: rotate(0deg);}
            }
            .st {
              position: absolute;
              right: 45px;
              top: 10px;
              color: #000;
              text-decoration: underline;
              text-decoration-thickness: 0;   // 선 두께
              text-underline-position: under;
              letter-spacing: -0.5rem;
            }
          }
        }
      }
      // 섹션1 텍스트 슬라이드 애니메이션 구현
      @keyframes slide1 { 
        from {left: -600px; opacity: 0;}
        to { left: calc(50% - 957px/2 ); opacity: 1;}
      }
      // 굳이 없어도 되긴함
      @keyframes disappear {
        from { left: calc(50% - 957px/2 ); opacity: 1;}
        to {left: -600px; opacity: 0;}
      }
      @keyframes slide2 {
        0% {left: 1600px; opacity: 0;}
        50% {opacity: 0.4;}
        100% {left: 0px; opacity: 1;}
      }
      // 굳이 없어도 되긴함
      @keyframes disappear {
        from {left: 0; opacity: 1;}
        to {left: -1600px; opacity: 0;}
      }
    }

    .section2 {
      //display: none;
      // position: absolute;
      // top: 0;
      // left: 50%;
      // width: 100%;
      // height: 100%;
      .sec2_container {
        // position: relative;
        // width: 100%;
        animation: sec2Fade 2s ease-in-out 3s forwards;
        .sec2_content {
          // opacity: 0;
          position: absolute;
          top: 450px;
          left: calc(50% - 1219px/2 + 30px);
          width: 1220px;
          height: 170px;
          color: #000;
          display: flex;
          text-align: center;
          justify-content: center;
          align-items: center;
          font-family: 'SUIT';
          font-style: normal;

          .h3 {
            position: absolute;
            left: 335px;
            top: 0;
            font-weight: 300;
            font-size: 40px;
            line-height: 50px;
            letter-spacing: -0.2rem;
          }
          .h4 {
            position: absolute;
            left: 90px;
            top: 70px;
            text-align: center;
            font-weight: 700;
            font-size: 80px;
            line-height: 125px;
            text-rendering: optimizeLegibility;
            letter-spacing: -0.1rem;
          }
        }
      }
      @keyframes sec2Fade {
        0% {opacity: 0; transform: 'translateY(300px)';}
        30% {opacity: 0.3;}
        70% {opacity: 0.7;}
        100% {opacity: 1; transform: none;}
        
      }
    }
    .section3 {
      //display: none;
      // position: relative;
      // width: 100%;
      // height: 100%;
      .sec3_container {
        // position: relative;
        // width: 100%;
        .sec3_content {
          position: absolute;
          top: 220px; // 피그마에서는 257px이지만
          left: calc(50% - 413px/2 - 476px);
          width: 1500px;
          height: 800px; 
          .about {
            position: absolute;
            top: 0;
            left: 0;
            font-family: 'Cormorant Garamond';
            font-style: italic;
            font-weight: 300;
            font-size: 200px;
            line-height: 242px;
            color: #000;
            letter-spacing: -0.5rem;
          }
          .sec3_gap {
            position: absolute;
            top: 235px;
            // left: calc(50% - 1213px/2);
            left: 100px;
            width: 1215px;
            height: 230px;
            font-family: 'Cormorant';
            font-style: normal;
            font-weight: 300;
            font-size: 190px;
            line-height: 230px;
            color: #DBB27A;
            .sec3_brace1 {
              position: absolute;
              top: 0;
              left: 0;
            }
            .our {
              position: absolute;
              top: 0px;
              left: 140px;
              width: 580px;
              font-family: 'Outfit';
              font-style: normal;
              font-weight: 100;
              letter-spacing: -0.3rem;
            }
            a {
              img {
                position: absolute;
                top: 40px;
                left: 530px;
                // animation: sec3Img 1s 3 ease;

              }
            }
            .we {
              position: absolute;
              top: 0px;
              left: 760px;
              width: 540px;
              font-family: 'Outfit';
              font-style: normal;
              font-weight: 100;
              letter-spacing: -0.3rem;
            }
            .sec3_brace2 {
              position: absolute;
              top: 0;
              right: 30px;
            }
          }
          .perfective {
            position: absolute;
            bottom: 115px;
            right: calc(50% - 665px/2 - 300px);  //left: 750px;
            font-family: 'Cormorant Garamond';
            font-style: italic;
            font-weight: 300;
            font-size: 200px;
            // line-height: 242px;
            color: #000;
            letter-spacing: -0.5rem;
          }
        }
      }
      // @keyframes sec3Img {
      //   0% {
      //     transform: scale(1.0);
      //   }
      //   50% {
      //     transform: scale(1.3);
      //   }
      //   100% {
      //     transform: scale(1.0);

      //   }
      // }
    }
  
    .section4 {
      //display: none;
      // position: relative;
      // width: 100%;
      // height: 100%;
      .sec4_container {
        // position: relative;
        // width: 100%;
        .sec4_content {
          position: absolute;
          top: 220px; // 피그마에서는 257px이지만
          left: calc(50% - 413px/2 - 476px);
          width: 1500px;
          height: 800px; 
          .about {
            position: absolute;
            top: 0;
            left: 0;
            font-family: 'Cormorant Garamond';
            font-style: italic;
            font-weight: 300;
            font-size: 200px;
            line-height: 242px;
            color: #000;
            letter-spacing: -0.5rem;
          }
          .sec4_gap {
            position: absolute;
            top: 235px;
            left: 0;
            width: 1400px;
            height: 230px;
            font-family: 'Cormorant';
            font-style: normal;
            font-weight: 300;
            font-size: 190px;
            line-height: 230px;
            color: #DBB27A;
            .sec4_text1 {
              .sec4_brace1 {
                position: absolute;
                top: 0;
                left: 0;
              }
              .left {
                position: absolute;
                top: 50px;
                left: 120px;
                width: 504px;
                height: 98px;
                font-family: 'SUIT';
                font-style: normal;
                font-weight: 500;
                font-size: 50px;
                line-height: 62px;
                color: #000;
              }
            }
            .sec4_text2 {
              .right {
                position: absolute;
                top: 75px;
                right: 140px;
                width: 555px;
                height: 44px;
                font-family: 'SUIT';
                font-style: normal;
                font-weight: 300;
                font-size: 20px;
                line-height: 30px;
                color: #000;
              }
              .sec4_brace2 {
                position: absolute;
                top: 0;
                right: 30px;
              }
            }
          }
          .perfective {
            position: absolute;
            bottom: 115px;
            right: calc(50% - 665px/2 - 300px);  //left: 750px;
            font-family: 'Cormorant Garamond';
            font-style: italic;
            font-weight: 300;
            font-size: 200px; 
            // line-height: 242px;
            color: #000;
            letter-spacing: -0.5rem;
          }
        }
      }
    }
  
    .section5 {
      //display: none;
      // position: relative;
      // width: 100%;
      // height: 100%;
      .sec5_container {
        // position: relative;
        // width: 100%;
        .background_img {
          position: absolute;
          top: 100px;
          left: 0;
        }
        .sec5_content {
          position: absolute;
          left: calc(50% - 600px/2 - 500px);  //left: 200 px;
          top: 261px;
          width: 600px;
          height: 600px;
          .sec5_img1 {
            position: absolute;
            top: 20px;
            left: 20px;
            img {
              width: 100%;
            }
          }
          .sec5_img2 {
            position: absolute;
            top: -40px;
            left: 110px;
            img {
              width: 130%;
            }
          }
        }
          .sec5_gap {
            position: absolute;
            top: 180px;            
            right: calc(50% - 730px/2 - 300px);  //right: 300px;
            width: 730px;
            height: 680px;
            .text1 {
              position: absolute;
              top: 15px;
              right: 0px;
              width: 100%;
              height: 300px;
              font-family: 'Cormorant Garamond';
              font-style: italic;
              font-weight: 300;
              letter-spacing: -0.3em;
              h3 {
                position: absolute;
                top: -25px;
                right: 0;
                font-size: 200px;
                line-height: 260px;
                color: #000;
                letter-spacing: -0.3rem;
              }
              h4 {
                position: absolute;
                right: 0px;
                bottom: 20px;
                font-size: 100px;
                line-height: 121px;
                color: #DBB27A;
                letter-spacing: -0.2rem;
              }
            }
            .text2 {
              position: absolute;
              left: 30px;
              bottom: -40px;
              width: 500px;
              height: 300px;
              font-family: 'SUIT';
              font-style: normal;
              color: #000;
              h5 {
                padding-bottom: 30px;
                font-weight: 500;
                font-size: 50px;
                line-height: 63px;
              }
              h6 {
                font-weight: 300;
                font-size: 20px;
                line-height: 30px;
              }
            }
          }
        
      }
    }
  
    .section6 {
      // //display: none;
      // position: relative;
      // width: 100%;
      // height: 100%;
      .sec6_container {
        .sec6_content {
          position: absolute;
          top: 210px;  
          left: calc(50% - 530px/2); left: 790px;
          left: 44rem;
          width: 530px;
          height: 700px;
          .contact {
            position: absolute;
            left: -1.4rem;  //-20px
            top: 0;
            font-family: 'Cormorant Garamond';
            font-style: italic;
            font-weight: 300;
            font-size: 200px;
            line-height: 242px;
            color: #000;
            justify-items: center;
            align-items: center;
            letter-spacing: -0.3rem;
          }
          .sec6_gap {
            position: absolute;
            left: calc(50% - 332px/2);
            top: 280px;
            width: 332px;
            height: 185px;
            font-family: 'Cormorant';
            font-style: normal;
            font-weight: 300;
            font-size: 190px;
            line-height: 230px;
            color: #DBB27A;
            .sec6_brace1 {
              position: absolute;
              top: 0;
              left:-40px;
            }
            img {
              position: absolute;
              top: 30px;
              left: 70px;
              justify-content: center;
              align-items: center;
              // width: 179px;
              // height: 184px;
            }
            .sec6_brace2 {
              position: absolute;
              top: 0;
              right: 0;
            }
          }
          .proposal {
            position: absolute;
            left: calc(50% - 575px/2 + 50px);
            bottom: 30px; 
            font-family: 'Cormorant Garamond';
            font-style: italic;
            font-weight: 300;
            font-size: 150px;  
            color: #000;
            letter-spacing: -0.3rem;
          }
        }
      }
    }
  
    .section7 {
      //display: none;
      // position: relative;
      // width: 100%;
      // height: 100%;
      animation: backColor 2s ease-in-out 8s forwards;
      .sec7_container {
        
        .sec7_content {
          position: absolute;
          top: 200px;
          left: calc(50% - 1110px/2);
          left: 25.3rem;
          width: 1110px;
          height: 700px;
          .proposal {
            position: absolute;
            // left: calc(50% - 575px/2); 
            left: 16.7rem;
            top: 0;
            font-family: 'Cormorant Garamond';
            font-style: italic;
            font-weight: 300;
            font-size: 200px;
            line-height: 242px;
            letter-spacing: -0.3rem;
            color: #000;
          }
          .sec7_gap {
            position: absolute;
            left: 0;
            top: 330px;
            width: 1110px;
            height: 150px;
            font-family: 'Cormorant';
            font-style: normal;
            font-weight: 200;
            font-size: 190px;
            line-height: 230px;
            display: flex;
            color: #DBB27A;
            .sec7_brace1 {
              position: absolute;
              top: -40px;
              left: 0;
              animation: color1 2s ease-in-out 10s forwards;
            }
            .sec7_text {
              position: absolute;
              top: 25px;
              // left: calc(50% - 814px/2);  
              left: 9.25rem;
              font-family: 'SUIT';
              font-style: normal;
              font-weight: 500;
              font-size: 37px;    // 피그마에는 37px인데 집모니터로는 넘 커보임.(다시 확인하기)
              line-height: 140%;  // 51.8px
              text-align: center;
              color: #000
            }
            .sec7_brace2 {
              position: absolute;
              top: -40px;
              right: 0;
              animation: color2 2s ease-in-out 10s forwards;
            }
          }
          .contact {
            position: absolute;
            // left: calc(50% - 394px/2 - 30px); left: 328px;
            left: 20.5rem;
            bottom: 0;
            font-family: 'Cormorant Garamond';
            font-style: italic;
            font-weight: 300;
            font-size: 150px;
            line-height: 182px;
            letter-spacing: -0.3rem;
            color: #000;
            animation: trans 2s ease-in-out 10s forwards ;
          }
        }
      }
      @keyframes trans {
        from {transform: translateX(0px);}
        to {transform: translateX(-200px);}
      }

      @keyframes color1 {
        0% {color: #DBB27A;}
        100% {color: #fff;}
      }
      @keyframes color2 {
        0% {color: #DBB27A;}
        100% {color: #fff;}
      }

      @keyframes backColor {
        0% {background-color: #fff;}
        100% {background-color: #FFDA55;}
      }
    }
  
    .section8 {
      //display: none;
      // position: relative;
      // width: 100%;
      // height: 100%;
      background-color: #FFDA55;
      .sec8_container {
        width: 100%;
        position: relative;
        .logo {
          position: absolute;
          // left: 102px;
          left: calc(50% - 285px/2 - 715px);
          top: 60px;
          width: 285px;
          height: 66px;
          .logo-btn {
            img {
              position: absolute;
              top: 0;
              left: 0;
              width: 281px;
              height: 65.12px;
            }
          }
        }
        .menu {
        position: absolute;
        top: 70px;
        // right: 130px;   // 헤더메뉴 112로 똑같이 하면 왜인지 맞지 않음 
        right: calc(50% - 102px/2 - 780px);
        line-height: 40px;
          li {
            font-size: 25px;
            font-weight: 700;
            color: #000 ;
            font-family: 'Outfit';
            font-style: normal;
            text-align: right;
            cursor: pointer;
          }
        } 
        .sec8_content {
          position: absolute;
          top: 200px;
          // left: calc(50% - 1110px/2);
          left: 25.3rem;
          width: 1110px;
          height: 700px;

          .proposal {
            position: absolute;
            left: calc(50% - 575px/2); 
            left: 16.7rem;
            top: 0;
            font-family: 'Cormorant Garamond';
            font-style: italic;
            font-weight: 300;
            font-size: 200px;
            line-height: 242px;
            letter-spacing: -0.3rem;
            color: #000;
          }
          .sec8_gap {
            position: absolute;
            left: 0; 
            top: 330px;
            width: 1110px;
            height: 150px;
            font-family: 'Cormorant';
            font-style: normal;
            font-weight: 200;
            font-size: 190px;
            line-height: 230px;
            color: #fff;
            .sec8_brace1 {
              position: absolute;
              top: -40px;
              left: 0;
            }
            .sec8_text {
              position: absolute;
              top: 25px;
              // left: calc(50% - 814px/2);  left: 148px;
              left: 9.25rem;
              font-family: 'SUIT';
              font-style: normal;
              font-weight: 500;
              font-size: 37px;
              line-height: 140%;  // 51.8px 
              text-align: center;
              color: #000;
            }
            .sec8_brace2 {
              position: absolute;
              top: -40px;
              right: 0;
            }
          }
          .contact {
            position: absolute;
            // left: calc(50% - 394px/2 - 133px);  left: 225px;
            left: 14rem;
            bottom: 0;
            font-family: 'Cormorant Garamond';
            font-style: italic;
            font-weight: 300;
            font-size: 150px;
            line-height: 182px;
            letter-spacing: -0.3rem;
            color: #000;
          }
          .object {
            position: absolute;
            left: calc(50% - 250px/2 + 225px);
            bottom: 0;
            width: 210px;
            height: 182px;
            .twinkle {
              position: absolute;
              left: 0;
              bottom: 15px;
              // animation: opa 2s ease-in 3s;
            }
            .arrow {
              position: absolute;
              right: 0;
              bottom: 60px;
            }
          }
          // @keyframes opa {
          //   0% {opacity: 0;}
          //   50% {opacity: 0.5;}
          //   100%{opacity: 1;}
          // }
        }
      }
    }
    
    .section9 {
      // position: absolute;
      // left:0;
      // top:1920px;
      //display: none;
      // position: relative;
      // width: 100%;
      // height: 100%;
      background-color: #FFDA55;
      .sec9_container {
       // position: relative;
       // width: 100%;
        .sec9_content {
          position: absolute;
          top: 380px;
          left: calc(50% - 519px/2); 
          width: 520px;
          height: 190px;
          color: #000;
          text-align: center;
          justify-content: center;
          align-items: center;
          h3 {
            position: absolute;
            left: 0;
            top: 54px;
            font-family: 'SUIT';
            font-style: normal;
            font-weight: 500;
            font-size: 70px;
            line-height: 88px;
          }
          img {
            position: absolute;
            width: 198px;
            height: 188px;
            left: 320px;
            top: 0;
          }
        }
      }
    }
    .section10 {
      // //display: none;
      // position: relative;
      // width: 100%;
      // height: 100%;
      background-color: #BCF8A7;
      .sec10_container {
        // position: relative;
        // width: 100%;
        .sec10_content {
          position: absolute;
          top: 380px;
          left: calc(50% - 519px/2); 
          width: 520px;
          height: 190px;
          color: #000;
          text-align: center;
          justify-content: center;
          align-items: center;
          h3 {
            position: absolute;
            left: 0;
            top: 54px;
            font-family: 'SUIT';
            font-style: normal;
            font-weight: 500;
            font-size: 70px;
            line-height: 88px;
          }
          img {
            position: absolute;
            width: 198px;
            height: 188px;
            left: 320px;
            top: 0;
          }
        }
      }
    }
    .section11 {
      //display: none;
      // position: relative;
      // width: 100%;
      // height: 100%;
      .sec11_container {
        // position: relative;
        // width: 100%;
        .sec11_content {
          position: absolute;
          top: 280px;
          left: calc(50% - 642px/2);
          width: 642.33px;
          height: 353px; 
          color: #000;
          h3 {
            position: absolute;
            left: 0;
            top: 154px;
            font-family: 'SUIT';
            font-style: normal;
            font-weight: 500;
            font-size: 70px;
            line-height: 88px;
          }
          .image1 {
            position: absolute;
            right: 0;
            bottom: -20px;
          }
          .image2 {   /* 위에 올라오는 */
            position: absolute;
            left: 320px;
            top: 0;
          }

        }
      }
    }
    .section12 {
      //display: none;
      // position: relative;
      // width: 100%;
      // height: 100%;
      .sec12_container {
        // position: relative;
        // width: 100%;
        .sec12_gap1 {
          position: absolute;
          top: 0;
          left: 0;
          width: 423px;
          height: 423px;
          > img {
            width: 423px;
            height: 423px;
          }
        }
        .sec12_content {
          position: absolute;
          top: 380px;  // 442px
          left: calc(50% - 663px/2);
          // width: 663px;
          // height: 250px;
          h3 {
            color: #000;
            font-family: 'SUIT';
            font-style: normal;
            font-weight: 600;
            font-size: 100px;
            line-height: 125px;
            text-align: center;
          }
          span {
            // display: inherit;
            &.after {
              display: inherit;
              border-top:15px solid #B2E1A1;
              margin-top: -60px;
              width:0;
              animation: decoLine 1s ease .5s forwards;
            }
          }
        }
        .sec12_gap2 {
          position: absolute;
          top: 620px;
          right: 0;
          width: 423px;
          height: 423px;
          > img {
            width: 423px;
            height: 423px;
          }
        }
      }
      @keyframes decoLine {
        from {width: 0px; opacity: 0.5;left: -100px;}
        to {width: 22rem;height: 20rem; opacity: 0.7;left: -10px;}
        // 집에서는 width: 26rem; 정도가 맞음 why?
      }
    }


    // 푸터
    .section13 {
      //display: none;
      // position: absolute;
      // width: 100%;
      // height: 100%;
      background-color: #000;
      .sec13_container {
        .backgrond_img {
          position: absolute;
          top: 0;
          left: 70rem;
        }
        .logo {
          position: absolute;
          left: calc(50% - 285px/2 - 715px);
          top: 60px;   // 70
          width: 285px;
          height: 66px;
          // width: 860px;
          // height: 200px;
          .logo-btn {
            img {
              position: absolute;
              top: 0;
              left: 0;
              width: 281px;
              height: 65.12px;
              // width: 859px;
              // height: 199px;
            }
          }
        }
        .number {
          position: absolute;
          top: 113px;
          // right: 101px;
          right: calc(50% - 461px/2 - 600px);
            a {
              cursor: pointer;
              img{
                float: right;
                width: 80%;
              }
            }
          } 
        .sec13_content {
          display: inherit;
          // visibility: hidden;  // 이건 js에서 설정함
          opacity: 0;  // delay를 적용할땐 opacity:0 써줘야함
          position: absolute;
          top: 325px;  // 442px
          float: left;
          left: calc(55% - 879px/2 - 530px);
          width: 880px;
          // height: 610px;
          .middle {
            color: #fff;
            font-family: 'Outfit';
            font-style: normal;
            .menu {
              font-size: 50px;
              font-weight: 200;
              text-decoration: underline;
              text-decoration-thickness: 2px;   // 선 두께
              text-underline-position: under;
              // text-underline-offset: 1px;
              line-height: 73px;
            }
          }
          .bottom {
            color: #fff;
            font-family: 'Outfit';
            font-style: normal;
            padding-top: 50px;
            .address {
              padding-bottom: 20px;
              h3{
                font-size: 30px;
                font-weight: 600;
                line-height: 37.8px;
              }
              h4{
                font-family: 'SUIT';
                font-weight: 300;
                font-size: 20px;
                line-height: 30px;
              }
            }
            .mail {
              padding-bottom: 20px;
              h3{                
                font-size: 30px;
                font-weight: 600;
                line-height: 37.8px;
              }
              h4{
                font-family: 'SUIT';
                font-weight: 300;
                font-size: 20px;
                line-height: 30px;
              }
            }
            .copyright {
              font-family: 'SUIT';
              font-weight: 300;
              font-size: 20px;
              line-height: 30px;
              color: #8a8888;
            }
          }
        }
      }
    }
  }


  #footer {
    display: none;
    position: relative;
    max-width: 1920px;
    width: 100%;
    height: 100%;     // 메인 전체 높이를 설정하지 않고 100%로 해줘야 스크롤이 생기지 않음
    margin: 0 auto;
    .section13 {
      // position: absolute;
      // top:0;
      // left:0;
      // width: 100%;
      // height: 100%;
      background-color: #000;
      .footer-container {
        position: relative;
        width: 100%;
        .footer-content {
          .footer-gap {
            a {
              position: absolute;
              width: 888.78px;
              height: 744.29px;
              left: 1400.57px;
              top: -300px;
  
              img {
                position: absolute;
                background: linear-gradient(143.57deg, rgba(178, 225, 161, 0.5) 18.13%, rgba(255, 218, 85, 0.5) 81.87%);
                filter: blur(100px);
                transform: rotate(-190deg);
  
              }
            }
          }
        }
      }
    }
  }
}