@charset "UTF-8";
@import url("/css/fonts.css");
@import url("/css/reset.css");
* {
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin: 0;
  padding: 0;
}

#wrap {
  max-width: 3840px;
  min-width: 1920PX;
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
}
#wrap #header {
  z-index: 3;
  position: relative;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
#wrap #header .header-container {
  max-width: 1920px;
  width: 100%;
  position: fixed;
}
#wrap #header .header-container .logo {
  position: absolute;
  left: 102px;
  top: 60px;
  width: 285px;
  height: 66px;
}
#wrap #header .header-container .logo .logo-btn img {
  position: absolute;
  top: 0;
  left: 0;
  width: 281px;
  height: 65.12px;
}
#wrap #header .header-container .menu {
  position: absolute;
  top: 70px;
  right: 112px;
  line-height: 40px;
}
#wrap #header .header-container .menu li {
  font-size: 25px;
  font-weight: 700;
  color: #000;
  font-family: "Outfit";
  font-style: normal;
  text-align: right;
  cursor: pointer;
}
#wrap #main {
  z-index: 2;
  position: relative;
  overflow: hidden;
  min-width: 1920px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
#wrap #main .section {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: hidden;
}
#wrap #main .section .container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#wrap #main .section1 .sec1_container {
  height: 1000px;
}
#wrap #main .section1 .sec1_container .sec1_content {
  position: absolute;
  left: 36px;
  top: 230px;
  width: 1853px;
  left: calc(50% - 926.5px);
  height: 560px;
}
#wrap #main .section1 .sec1_container .sec1_content .slide_text1 {
  position: absolute;
  top: 0;
  left: 470px;
  width: 957px;
  height: 345px;
  text-align: center;
  color: #000;
  line-height: 360px;
  animation: slide1 3s ease-in-out;
}
#wrap #main .section1 .sec1_container .sec1_content .slide_text1 .we {
  position: absolute;
  left: 0;
  top: 0;
  font-family: "Outfit";
  font-style: normal;
  font-size: 300px;
  font-weight: 100;
  line-height: 120%;
}
#wrap #main .section1 .sec1_container .sec1_content .slide_text1 .sec1_img1 {
  position: absolute;
  left: 360px;
  top: 20px;
  animation: sec1Img 2.5s ease-in infinite;
}
@keyframes sec1Img {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  70% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
#wrap #main .section1 .sec1_container .sec1_content .slide_text1 .are {
  position: absolute;
  right: 6%;
  bottom: 20px;
  font-size: 200px;
  color: #000;
  font-style: italic;
  font-family: "Cormorant Garamond";
  font-weight: 300;
  line-height: 240px;
  position: absolute;
}
#wrap #main .section1 .sec1_container .sec1_content .slide_text2 {
  width: 1853px;
  height: 232px;
  position: absolute;
  left: 0;
  bottom: 20px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 200;
  font-size: 250px;
  line-height: 100%;
  animation: slide2 3s ease-in-out;
}
#wrap #main .section1 .sec1_container .sec1_content .slide_text2 .Br {
  color: #DBB27A;
  width: 1050px;
  text-decoration: underline;
  text-decoration-thickness: 0;
  text-underline-position: under;
}
#wrap #main .section1 .sec1_container .sec1_content .slide_text2 .sec1_img2 {
  position: absolute;
  left: 1060px;
  top: 110px;
  width: 123.1px;
  height: 120.34px;
  animation: sec1Img2 4s ease-in-out infinite;
}
@keyframes sec1Img2 {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-6deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
#wrap #main .section1 .sec1_container .sec1_content .slide_text2 .st {
  position: absolute;
  right: 0;
  top: 10px;
  color: #000;
  text-decoration: underline;
  text-decoration-thickness: 0;
  text-underline-position: under;
}
@keyframes slide1 {
  from {
    left: -600px;
    opacity: 0;
  }
  to {
    left: 470px;
    opacity: 1;
  }
}
@keyframes disappear {
  from {
    left: 470px;
    opacity: 1;
  }
  to {
    left: -600px;
    opacity: 0;
  }
}
@keyframes slide2 {
  from {
    left: 1600px;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}
@keyframes disappear {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: -1600px;
    opacity: 0;
  }
}
#wrap #main .section2 .sec2_container .sec2_content {
  position: absolute;
  top: 450px;
  left: calc(50% - 609.5px - 0.5px);
  width: 1220px;
  height: 170px;
  color: #000;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "SUIT";
  font-style: normal;
}
#wrap #main .section2 .sec2_container .sec2_content .h3 {
  position: absolute;
  left: 370px;
  top: 0;
  font-weight: 300;
  font-size: 40px;
  line-height: 50px;
}
#wrap #main .section2 .sec2_container .sec2_content .h4 {
  position: absolute;
  text-align: center;
  top: 70px;
  font-weight: 700;
  font-size: 80px;
  line-height: 125px;
}
#wrap #main .section3 .sec3_container .sec3_content {
  position: absolute;
  top: 220px;
  left: calc(50% - 206.5px - 476px);
  width: 1500px;
  height: 800px;
}
#wrap #main .section3 .sec3_container .sec3_content .about {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Cormorant Garamond";
  font-style: italic;
  font-weight: 300;
  font-size: 200px;
  line-height: 242px;
  color: #000;
}
#wrap #main .section3 .sec3_container .sec3_content .sec3_gap {
  position: absolute;
  top: 235px;
  left: 100px;
  width: 1215px;
  height: 230px;
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 300;
  font-size: 190px;
  line-height: 230px;
  color: #DBB27A;
}
#wrap #main .section3 .sec3_container .sec3_content .sec3_gap .sec3_brace1 {
  position: absolute;
  top: 0;
  left: 0;
}
#wrap #main .section3 .sec3_container .sec3_content .sec3_gap .our {
  position: absolute;
  top: 0px;
  left: 140px;
  width: 580px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 100;
}
#wrap #main .section3 .sec3_container .sec3_content .sec3_gap a img {
  position: absolute;
  top: 40px;
  left: 530px;
  animation: sec3Img 1s 3 ease;
}
#wrap #main .section3 .sec3_container .sec3_content .sec3_gap .we {
  position: absolute;
  top: 0px;
  left: 760px;
  width: 540px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 100;
}
#wrap #main .section3 .sec3_container .sec3_content .sec3_gap .sec3_brace2 {
  position: absolute;
  top: 0;
  right: 30px;
}
#wrap #main .section3 .sec3_container .sec3_content .perfective {
  position: absolute;
  bottom: 115px;
  right: calc(50% - 332.5px - 300px);
  font-family: "Cormorant Garamond";
  font-style: italic;
  font-weight: 300;
  font-size: 200px;
  color: #000;
}
@keyframes sec3Img {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
#wrap #main .section4 .sec4_container .sec4_content {
  position: absolute;
  top: 220px;
  left: calc(50% - 206.5px - 476px);
  width: 1500px;
  height: 800px;
}
#wrap #main .section4 .sec4_container .sec4_content .about {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Cormorant Garamond";
  font-style: italic;
  font-weight: 300;
  font-size: 200px;
  line-height: 242px;
  color: #000;
}
#wrap #main .section4 .sec4_container .sec4_content .sec4_gap {
  position: absolute;
  top: 235px;
  left: 0;
  width: 1400px;
  height: 230px;
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 300;
  font-size: 190px;
  line-height: 230px;
  color: #DBB27A;
}
#wrap #main .section4 .sec4_container .sec4_content .sec4_gap .sec4_brace1 {
  position: absolute;
  top: 0;
  left: 0;
}
#wrap #main .section4 .sec4_container .sec4_content .sec4_gap .left {
  position: absolute;
  top: 50px;
  left: 120px;
  width: 504px;
  height: 98px;
  font-family: "SUIT";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 62px;
  color: #000;
}
#wrap #main .section4 .sec4_container .sec4_content .sec4_gap .right {
  position: absolute;
  top: 75px;
  right: 140px;
  width: 555px;
  height: 44px;
  font-family: "SUIT";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #000;
}
#wrap #main .section4 .sec4_container .sec4_content .sec4_gap .sec4_brace2 {
  position: absolute;
  top: 0;
  right: 30px;
}
#wrap #main .section4 .sec4_container .sec4_content .perfective {
  position: absolute;
  bottom: 115px;
  right: calc(50% - 332.5px - 300px);
  font-family: "Cormorant Garamond";
  font-style: italic;
  font-weight: 300;
  font-size: 200px;
  color: #000;
}
#wrap #main .section5 .sec5_container .sec5_content {
  position: absolute;
  left: calc(50% - 300px - 500px);
  top: 261px;
  width: 600px;
  height: 600px;
}
#wrap #main .section5 .sec5_container .sec5_content .sec5_img1 {
  position: absolute;
  top: 20px;
  left: 20px;
}
#wrap #main .section5 .sec5_container .sec5_content .sec5_img1 img {
  width: 100%;
}
#wrap #main .section5 .sec5_container .sec5_content .sec5_img2 {
  position: absolute;
  top: -40px;
  left: 110px;
}
#wrap #main .section5 .sec5_container .sec5_content .sec5_img2 img {
  width: 130%;
}
#wrap #main .section5 .sec5_container .sec5_gap {
  position: absolute;
  top: 180px;
  right: calc(50% - 365px - 300px);
  width: 730px;
  height: 680px;
}
#wrap #main .section5 .sec5_container .sec5_gap .text1 {
  position: absolute;
  top: 15px;
  right: 0px;
  width: 100%;
  height: 300px;
  font-family: "Cormorant Garamond";
  font-style: italic;
  font-weight: 300;
}
#wrap #main .section5 .sec5_container .sec5_gap .text1 h3 {
  position: absolute;
  top: -25px;
  right: 0;
  font-size: 180px;
  line-height: 260px;
  color: #000;
  letter-spacing: -0.03em;
}
#wrap #main .section5 .sec5_container .sec5_gap .text1 h4 {
  position: absolute;
  right: 0px;
  bottom: 20px;
  font-size: 100px;
  line-height: 121px;
  color: #DBB27A;
  letter-spacing: -0.03em;
}
#wrap #main .section5 .sec5_container .sec5_gap .text2 {
  position: absolute;
  left: 30px;
  bottom: -40px;
  width: 500px;
  height: 300px;
  color: #000;
}
#wrap #main .section5 .sec5_container .sec5_gap .text2 h5 {
  padding-bottom: 30px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 63px;
}
#wrap #main .section5 .sec5_container .sec5_gap .text2 h6 {
  font-family: "SUIT";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}
#wrap #main .section6 .sec6_container .sec6_content {
  position: absolute;
  top: 200px;
  left: calc(50% - 262.5px - 23.5px);
  width: 800px;
  height: 700px;
}
#wrap #main .section6 .sec6_container .sec6_content .contact {
  position: absolute;
  left: 0;
  top: 0;
  font-family: "Cormorant Garamond";
  font-style: italic;
  font-weight: 300;
  font-size: 200px;
  line-height: 242px;
  color: #000;
  justify-items: center;
  align-items: center;
}
#wrap #main .section6 .sec6_container .sec6_content .sec6_gap {
  position: absolute;
  left: calc(50% - 166px - 80px);
  top: 250px;
  width: 332px;
  height: 185px;
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 300;
  font-size: 190px;
  line-height: 230px;
  color: #DBB27A;
}
#wrap #main .section6 .sec6_container .sec6_content .sec6_gap .sec6_brace1 {
  position: absolute;
  top: 0;
  left: -40px;
}
#wrap #main .section6 .sec6_container .sec6_content .sec6_gap img {
  position: absolute;
  top: 30px;
  left: 70px;
  justify-content: center;
  align-items: center;
}
#wrap #main .section6 .sec6_container .sec6_content .sec6_gap .sec6_brace2 {
  position: absolute;
  top: 0;
  right: 0;
}
#wrap #main .section6 .sec6_container .sec6_content .proposal {
  position: absolute;
  left: calc(50% - 287.5px - 50px);
  bottom: 70px;
  font-family: "Cormorant Garamond";
  font-style: italic;
  font-weight: 300;
  font-size: 150px;
  color: #000;
}
#wrap #main .section7 .sec7_container .sec7_content {
  position: absolute;
  top: 200px;
  left: calc(50% - 555px);
  width: 1110px;
  height: 700px;
}
#wrap #main .section7 .sec7_container .sec7_content .proposal {
  position: absolute;
  left: calc(50% - 287.5px);
  top: 0;
  font-family: "Cormorant Garamond";
  font-style: italic;
  font-weight: 300;
  font-size: 200px;
  line-height: 242px;
  letter-spacing: -4px;
  color: #000;
}
#wrap #main .section7 .sec7_container .sec7_content .sec7_gap {
  position: absolute;
  left: calc(50% - 555px);
  top: 330px;
  width: 1110px;
  height: 150px;
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 200;
  font-size: 190px;
  line-height: 230px;
  display: flex;
  color: #DBB27A;
}
#wrap #main .section7 .sec7_container .sec7_content .sec7_gap .sec7_brace1 {
  position: absolute;
  top: -40px;
  left: 0;
}
#wrap #main .section7 .sec7_container .sec7_content .sec7_gap h3 {
  position: absolute;
  top: 25px;
  left: 168px;
  font-family: "SUIT";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 140%;
  text-align: center;
  color: #000;
}
#wrap #main .section7 .sec7_container .sec7_content .sec7_gap .sec7_brace2 {
  position: absolute;
  top: -40px;
  right: 0;
}
#wrap #main .section7 .sec7_container .sec7_content .contact {
  position: absolute;
  left: calc(50% - 197px - 15px);
  bottom: 0;
  font-family: "Cormorant Garamond";
  font-style: italic;
  font-weight: 300;
  font-size: 150px;
  line-height: 182px;
  letter-spacing: -4px;
  color: #000;
}
#wrap #main .section8 {
  background-color: #000;
}
#wrap #main .section8 .sec8_container {
  width: 100%;
  position: relative;
}
#wrap #main .section8 .sec8_container .logo {
  position: absolute;
  left: calc(50% - 142.5px - 715px);
  top: 60px;
  width: 285px;
  height: 66px;
}
#wrap #main .section8 .sec8_container .logo .logo-btn img {
  position: absolute;
  top: 0;
  left: 0;
  width: 281px;
  height: 65.12px;
}
#wrap #main .section8 .sec8_container .menu {
  position: absolute;
  top: 70px;
  right: calc(50% - 51px - 780px);
  line-height: 40px;
}
#wrap #main .section8 .sec8_container .menu li {
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  font-family: "Outfit";
  font-style: normal;
  text-align: right;
  cursor: pointer;
}
#wrap #main .section8 .sec8_container .sec8_content {
  position: absolute;
  top: 200px;
  left: calc(50% - 555px);
  width: 1110px;
  height: 700px;
}
#wrap #main .section8 .sec8_container .sec8_content .proposal {
  position: absolute;
  left: calc(50% - 287.5px);
  top: 0;
  font-family: "Cormorant Garamond";
  font-style: italic;
  font-weight: 300;
  font-size: 200px;
  line-height: 242px;
  letter-spacing: -4px;
  color: #fff;
}
#wrap #main .section8 .sec8_container .sec8_content .sec8_gap {
  position: absolute;
  left: calc(50% - 555px);
  top: 330px;
  width: 1110px;
  height: 150px;
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 200;
  font-size: 190px;
  line-height: 230px;
  color: #DBB27A;
}
#wrap #main .section8 .sec8_container .sec8_content .sec8_gap .sec8_brace1 {
  position: absolute;
  top: -40px;
  left: 0;
}
#wrap #main .section8 .sec8_container .sec8_content .sec8_gap h3 {
  position: absolute;
  top: 25px;
  left: 168px;
  font-family: "SUIT";
  font-style: normal;
  font-weight: 500;
  font-size: 37px;
  line-height: 140%;
  text-align: center;
  color: #fff;
}
#wrap #main .section8 .sec8_container .sec8_content .sec8_gap .sec8_brace2 {
  position: absolute;
  top: -40px;
  right: 0;
}
#wrap #main .section8 .sec8_container .sec8_content .contact {
  position: absolute;
  left: calc(50% - 197px - 135px);
  bottom: 0;
  font-family: "Cormorant Garamond";
  font-style: italic;
  font-weight: 300;
  font-size: 150px;
  line-height: 182px;
  letter-spacing: -4px;
  color: #DBB27A;
}
#wrap #main .section8 .sec8_container .sec8_content .object .twinkle {
  position: absolute;
  right: 300px;
  bottom: 15px;
  animation: opa 2s ease-in 3s;
}
#wrap #main .section8 .sec8_container .sec8_content .object .arrow {
  position: absolute;
  right: 200px;
  bottom: 60px;
}
@keyframes opa {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
#wrap #main .section9 {
  background-color: #FFDA55;
}
#wrap #main .section9 .sec9_container .sec9_content {
  position: absolute;
  top: 380px;
  left: calc(50% - 259.5px);
  width: 520px;
  height: 190px;
  color: #000;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "SUIT";
  font-style: normal;
}
#wrap #main .section9 .sec9_container .sec9_content h3 {
  position: absolute;
  left: 0;
  top: 54px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 70px;
  line-height: 88px;
}
#wrap #main .section9 .sec9_container .sec9_content img {
  position: absolute;
  width: 198px;
  height: 188px;
  left: 320px;
  top: 0;
}
#wrap #main .section10 {
  background-color: #BCF8A7;
}
#wrap #main .section10 .sec10_container .sec10_content {
  position: absolute;
  top: 380px;
  left: calc(50% - 259.5px);
  width: 520px;
  height: 190px;
  color: #000;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "SUIT";
  font-style: normal;
}
#wrap #main .section10 .sec10_container .sec10_content h3 {
  position: absolute;
  left: 0;
  top: 54px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 70px;
  line-height: 88px;
}
#wrap #main .section10 .sec10_container .sec10_content img {
  position: absolute;
  width: 198px;
  height: 188px;
  left: 320px;
  top: 0;
}
#wrap #main .section11 .sec11_container .sec11_content {
  position: absolute;
  top: 280px;
  left: calc(50% - 321px);
  width: 642.33px;
  height: 353px;
  color: #000;
  font-family: "SUIT";
  font-style: normal;
}
#wrap #main .section11 .sec11_container .sec11_content h3 {
  position: absolute;
  left: 0;
  top: 154px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 70px;
  line-height: 88px;
}
#wrap #main .section11 .sec11_container .sec11_content .image1 {
  position: absolute;
  right: 0;
  bottom: -20px;
}
#wrap #main .section11 .sec11_container .sec11_content .image2 { /* 위에 올라오는 */
  position: absolute;
  left: 320px;
  top: 0;
}
#wrap #main .section12 .sec12_container .sec12_gap1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 423px;
  height: 423px;
}
#wrap #main .section12 .sec12_container .sec12_gap1 > img {
  width: 423px;
  height: 423px;
}
#wrap #main .section12 .sec12_container .sec12_content {
  position: absolute;
  top: 380px;
  left: calc(50% - 331.5px);
}
#wrap #main .section12 .sec12_container .sec12_content h3 {
  color: #000;
  font-family: "SUIT";
  font-style: normal;
  font-weight: 600;
  font-size: 100px;
  line-height: 125px;
  text-align: center;
}
#wrap #main .section12 .sec12_container .sec12_content span {
  display: inherit;
}
#wrap #main .section12 .sec12_container .sec12_content span.after {
  border-top: 15px solid #B2E1A1;
  margin-top: -60px;
  width: 0px;
  animation: decoLine 1s ease 1s forwards;
}
#wrap #main .section12 .sec12_container .sec12_gap2 {
  position: absolute;
  top: 620px;
  right: 0;
  width: 423px;
  height: 423px;
}
#wrap #main .section12 .sec12_container .sec12_gap2 > img {
  width: 423px;
  height: 423px;
}
@keyframes decoLine {
  0% {
    width: 1px;
    opacity: 0.5;
  }
  100% {
    width: 360px;
    opacity: 0.7;
  }
}
#wrap #main .section13 {
  background-color: #000;
}
#wrap #main .section13 .sec13_container .logo {
  position: absolute;
  left: calc(50% - 142.5px - 715px);
  top: 60px;
  width: 285px;
  height: 66px;
}
#wrap #main .section13 .sec13_container .logo .logo-btn img {
  position: absolute;
  top: 0;
  left: 0;
  width: 281px;
  height: 65.12px;
}
#wrap #main .section13 .sec13_container .number {
  position: absolute;
  top: 113px;
  right: calc(50% - 230.5px - 600px);
}
#wrap #main .section13 .sec13_container .number a {
  cursor: pointer;
}
#wrap #main .section13 .sec13_container .number a img {
  float: right;
  width: 80%;
}
#wrap #main .section13 .sec13_container .sec13_content {
  display: inherit;
  opacity: 0;
  position: absolute;
  top: 325px;
  float: left;
  left: calc(55% - 439.5px - 530px);
  width: 880px;
}
#wrap #main .section13 .sec13_container .sec13_content .middle {
  color: #fff;
  font-family: "Outfit";
  font-style: normal;
}
#wrap #main .section13 .sec13_container .sec13_content .middle .menu {
  font-size: 50px;
  font-weight: 200;
  text-decoration: underline;
  text-decoration-thickness: 0;
  line-height: 73px;
}
#wrap #main .section13 .sec13_container .sec13_content .bottom {
  color: #fff;
  padding-top: 50px;
}
#wrap #main .section13 .sec13_container .sec13_content .bottom .address {
  padding-bottom: 20px;
}
#wrap #main .section13 .sec13_container .sec13_content .bottom .address h3 {
  font-size: 30px;
  font-weight: 600;
  line-height: 37.8px;
}
#wrap #main .section13 .sec13_container .sec13_content .bottom .address h4 {
  font-family: "SUIT";
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}
#wrap #main .section13 .sec13_container .sec13_content .bottom .mail {
  padding-bottom: 20px;
}
#wrap #main .section13 .sec13_container .sec13_content .bottom .mail h3 {
  font-size: 30px;
  font-weight: 600;
  line-height: 37.8px;
}
#wrap #main .section13 .sec13_container .sec13_content .bottom .mail h4 {
  font-family: "SUIT";
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}
#wrap #main .section13 .sec13_container .sec13_content .bottom .copyright {
  font-family: "SUIT";
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #8a8888;
}
#wrap #footer {
  display: none;
  position: relative;
  max-width: 1920px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
#wrap #footer .section13 {
  background-color: #000;
}
#wrap #footer .section13 .footer-container {
  position: relative;
  width: 100%;
}
#wrap #footer .section13 .footer-container .footer-content .footer-gap a {
  position: absolute;
  width: 888.78px;
  height: 744.29px;
  left: 1400.57px;
  top: -300px;
}
#wrap #footer .section13 .footer-container .footer-content .footer-gap a img {
  position: absolute;
  background: linear-gradient(143.57deg, rgba(178, 225, 161, 0.5) 18.13%, rgba(255, 218, 85, 0.5) 81.87%);
  filter: blur(100px);
  transform: rotate(-190deg);
}/*# sourceMappingURL=style.css.map */