@charset "UTF-8";
@import url('../fonts.css');
@import url('../reset.css');

/* 모바일 우선 css 작업 */

// @media all and (min-width: 320px) {

  #wrap {
    width: 100%;
    // height: 100%;
    position: relative;
    margin: 0 auto;
    background-color: var(--black);
  
    // header {
    //   display: flex;
    //   justify-content: space-between;
    //   align-items: center;
    //   // padding:0 8.07% 0 4.80%;
    // }
    header nav ul {
      display: none;
    }

    .section {
      position: relative;
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    .section1 {
      .sec1_container {
        position: relative;
        width: 100%;
        justify-content: center;
        display: flex;
        .mo__background-img {
          display: block;
          position: absolute;
          right: 0;
          top: 0px;
        }
        .pc__background-img {
          display: none;
        }
        .sec1_content {
          width: 160px;
          height: 120px;
          margin-top: 111px;
          h1 {
            font-family: Cormorant Garamond;
            font-style: italic;
            font-size: 3.25rem;  //52px
            font-weight: 300;
            line-height: 63px;
            letter-spacing: -0.03rem;
            color: #DBB27A;
          }
          h2 {
            font-family: SUIT;
            font-size: 1rem;
            font-weight: 300;
            line-height: 21px;
            letter-spacing: -0.05em;  
            color: var(--white);
            padding-top: 5px;
            text-align: center;
          }
        }
      }
    }
    .section2 {
      .sec2_container {
        width: 100%;
        // height: 48px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 20px auto;
        ul {
          font-family: Outfit;
          font-size: 1.25rem;  //20px
          font-weight: 100;
          display: flex;
          color: var(--white);
          li {
            padding: 12px;
          }
        }
      }
      .sec2_content {
        padding-top: 21px;
        display: flex;
        justify-items: center;
        align-items: center;
        margin: 0 auto;
        .box {
          width: 340px;
          height: 130px;
          background-color: #262626;
          display: flex;
          justify-items: center;
          align-items: center;
          text-align: center;
          // margin-left: 16%;
        }
      }
    }
    .public-section {
      .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 360px;
        .view {
          margin: 32px 10px 0;
          width: 160px;
          height: 210px;
          .gap {
            width: 160px;
            height: 160px;
            background-color: #D9D9D9;
          }
          .content {
            text-overflow: ellipsis;
            width: 160px;
            height: 50px;
            line-height: 21px;
            padding-top: 10px;
            h2 {
              color: var(--primary-brown-Normal);
              font-family: SUIT;
              font-size: 1rem;  //16px
              font-weight: 700;
            }
            h3 {
              color: var(--white);
              font-family: SUIT;
              font-size: 1rem;  //16px
              font-weight: 400;
              letter-spacing: -0.05rem;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }

    // 페이지 번호 매기기
    .page {
      margin: 65px auto 93px;
      width: 330px;
      height: 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: SUIT;
        font-size: 1rem;
        font-weight: 400;
        width: 328px;
        height: 48px;
        // margin-left: 20%;
        li {
          padding: 0 25px;
          a {
            img {}
          }
        }
      }
    }

    footer {
      padding:0 39.87% 101px 5.60%;
      position: relative;
      h4 {  
        font-family: Outfit;
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 16px;
        color:var(--white);
      }
      .footer__copyright {
        font-size: 0.6875rem;
      } 
    }
    .aside__move-top-button {
      width:48px;
      height:48px;
      background-color:var(--white);
      border: none;
      border-radius: 50%;
      position: fixed;
      bottom: 30px;
      right:4.8%;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
    }
  }

// }