@charset "UTF-8";
@import url('/css/fonts.css');
@import url('/css/reset.css');

* {
  box-sizing: border-box;
  user-select: none;
  margin: 0;
  padding: 0;
}
/* 모바일 우선 css 작업 */

#wrap {
  max-width: 743px;
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  background-color: #555;

  .header {
    position: relative;
    width: 100%;
    height: 60px;
    .header-container {
      position: fixed;
      width: 100%;
      height: 60px;
      background-color: #333;
      .logo {
        position: absolute;
        left: 5%;
        top: 35%;
        width: 120px;
        height: 30px;
        .logo-btn {
          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 95%;
          }
        }
      }
      .mobile-menu-btn {
        position: absolute;
        right: 6%;
        top: 20px;
        width: 48px;
        height: 48px;
        .mo-menu-bar {
          position: absolute;
          right: 6%;
          top: 0px;
          width: 22px;
          height: 17px;
          overflow: hidden;
          i {
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #ddd;
            transition: all .3s;
            font-weight: 700;
            &:nth-child(1){
              top: 0;
            }
            &:nth-child(2){
              bottom: 50%;
              // margin-top: -1px;
            }
            &:nth-child(3){
              bottom: 0;
            }
          }
        }
      }
    }
  }
  .section1 {
    position: relative;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    .sec1_container {
      position: relative;
      width: 100%;
      .sec1_content {
        position: absolute;
        left: calc(50% - 155px/2);
        top: 50px;
        width: 160px;
        height: 90px;
        h1 {
          font-family: Cormorant Garamond;
          font-style: italic;
          font-size: 3.25rem;  //52px
          font-weight: 300;
          line-height: 63px;
          letter-spacing: -0.03rem;
          color: #DBB27A;
        }
        h2 {
          font-family: SUIT;
          font-size: 1rem;
          font-weight: 300;
          line-height: 21px;
          letter-spacing: -0.05rem;  
          color: #fff;
          padding-top: 5px;
          text-align: center;
        }
      }
    }
  }
  .section2 {
    position: relative;
    width: 100%;
    display: flex;
    .sec2_container {
      width: 100%;
      height: 48px;
      display: flex;
      ul {
        display: flex;
        font-family: Outfit;
        font-size: 1.25rem;  //20px
        font-weight: 100;
        line-height: 20px;
        li {}
      }
    }
  }
}